<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Shelter</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="{{ asset('/tmp/css/normalize.css', 'css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/tmp/css/style.css', 'css') }}" type="text/css" />
</head>

